.tableContainer{
    width: 70%;
    margin-left: 13%;
    margin-top: 7%;
    background-color:#F0F4F8;
}
button.updateButton{
    border-radius: 3px;
    background-color: #6ECCAE;
    border:none;
    color:white;
    outline: none;
    padding: 6px;
    margin-top: 1%;
}
button.deleteButton{
    border-radius: 3px;
    background-color: #FF7D6E;
    border:none;
    color:white;
    outline: none;
    padding: 6px;


}