.tableContainer{
    width: 70%;
    margin-left: 13%;
    margin-top: 1%;
    background-color:#F0F4F8;
}
button.updateButton{
    border-radius: 3px;
    background-color: #6ECCAE;
    border:none;
    color:white;
    outline: none;
    padding: 6px;
    margin-top: 1%;
}
button.deleteButton{
    border-radius: 3px;
    background-color: #FF7D6E;
    border:none;
    color:white;
    outline: none;
    padding: 6px;
}

button.addButton{
    border-radius: 50px;
    background-color: #0356B6;
    border:none;
    color:white;
    margin-left: 40%;
    margin-top: 1%;
    outline: none;
    padding: 10px;
}